html, body {
	height: 100%;
}

body {
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 150%;
	background: url("../images/bg.png") repeat-x 0 0;
}

a {
	color: #888;
	text-decoration: none;
	&:hover {
		color: #555;
	}
}

.logo, .navi, .title {
	font-family: "Courier New", arial, sans-serif;
}

.container {
	min-height: 100%;
	*display: table;
	*height: 100%;
}

.main {
	overflow: auto;
	padding-bottom: 50px;
}

.footer {
	background: url("../images/bg.png") repeat-x 0 0;
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
	display: table;
	width: 100%;
	.copyright {
		display: table-cell;
		vertical-align: middle;
	}
}
